.post-info
  span.info-poster= poster
  span.info-created-at= createdAt
  span.label.label-warning= id
.post-subject= subject
.clearfix
  if thumb
    .post-img.pull-left
      img(src = thumb)
  .post-text!= html